*{padding: 0;margin: 0;}
header{
	text-align: center;
	margin-top: 40px;
}
.newgameButton{
	text-decoration: none;
	display: inline-block;
	padding: 2px 6px;
	background: goldenrod;
	border-radius: 4px;
	color: #fff;}
.grid-container{
	width: 460px;
	height: 460px;
	padding: 20px;
	margin:50px auto;
	background: #bbada0;
	border-radius: 10px;
	position: relative;
}
.grid-cell{
	width: 100px;
	height: 100px;
	background: #ccc0b3;
	border-radius: 6px;
	position: absolute;
}
.number-cell{
	position: absolute;
	text-align: center;
	line-height: 100px;
	z-index: 2;
	border-radius: 6px;
	font-size: 24px;
}